<html>
   <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link rel="stylesheet" href="/i/style.css">
      <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
      <link rel="icon" href="/favicon.ico" type="image/x-icon">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   </head>
   <body>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script src="/i/js/materialize-pagination.js"></script>
      <script type="text/javascript" src="/i/js/script.js"></script>
      <!--JavaScript at end of body for optimized loading-->
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="/profile-edit" style="font-size:20px;font-weight:bold">Edit</a></li>
        <li><a href="/profile-view" style="font-size:20px;font-weight:bold">View</a></li>
      </ul>
      <nav class="light-blue" style="opacity:0.78">
         <div class="nav-wrapper" style="margin-left:20px">
            <a href="/" class="brand-logo">
                <div class="valign-wrapper">
                    <!-- <img src="/i/blueLogo.jpg" style="width:50px;margin-top:7px;border-radius:40%"/> -->
                    <img src="/i/iconNew.jpg" style="width:150px;margin-top:7px"/>
                </div>
            </a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
               {% if login_url %} 
               <li><a href="{{login_url}}" style="font-size:20px;font-weight:bold">Login</a></li>
               {% else %}
               <li><a href="/gallery" style="font-size:20px;font-weight:bold">Photo Gallery</a></li>
                <li><a href="/about-us" style="font-size:20px;font-weight:bold">About Us</a></li>
               <li><a class="dropdown-trigger" href="#!" data-target="dropdown1" style="font-size:20px;font-weight:bold">My Profile<i class="material-icons right">arrow_drop_down</i></a></li>
               <li><a href="{{logout_url}}" style="font-size:20px;font-weight:bold">Logout</a></li>
               {% endif %}
            </ul>
         </div>
      </nav>
      <ul class="sidenav" id="mobile-demo">
         <li class="logo" style="margin-top: 32px;margin-bottom: 5px; text-align:center;border-bottom: 1px solid rgba(0,0,0,0.14)"><img src="/i/logo.png" style="width:100px"/></li>
        {% if login_url %} 
        <li><a href="{{login_url}}">Login</a></li>
        {% else %}
        <li><a href="/profile-edit">Edit My Profile</a></li>
        <li><a href="/profile-view">View My Profile</a></li>
        <li><a href="{{logout_url}}">Logout</a></li>
        {% endif %}
      </ul>
      
         {% block content %}{% endblock %} 
   </body>
</html>
