{% extends "_base.html" %}
{% block content %}

<div class="container">
    <h3>About Us</h3>
    <h5 style="font-weight:300">How did we start? It all began when we realized that our dogs got nervous on trips to the dog park and wouldn’t socialize with a big number of dogs. Using DogGo would have a positive effect on both dogs and owners by allowing dogs to feel safe and owners happy that their dog has a friend to play with. </h5>
    <br>
    <h3>Our Mission</h3>
    <h5 style="font-weight:300">Our mission is to guide all dogs of different breeds, sizes, and ages in finding a pal to play with. </h5>
    <br>
    <h3>Contact Us</h3>
    <h5 style="font-weight:300">dontemailus@doggo.doesnotexist</h5>
</div>

{% endblock %}