{% extends "_base.html" %}
{%block content %}
<script>
    $(document).ready(function(){
        $('input.autocomplete').autocomplete({
        data: {
            "Siberian Husky": "/i/dogPic/siberian-husky.png",
            "Pekingese": "/i/dogPic/pekingese.jpg",
            "German Shepherd": "/i/dogPic/german-shepherd.jpg",
            "Doberman": "/i/dogPic/doberman.jpg",
            "Poodle": "/i/dogPic/poodle.jpg",
            "Alaskan Malmute": "/i/dogPic/alaskan-malamute.jpg",
            "Bulldog": "/i/dogPic/bulldog.jpeg",
            "French Bulldog": "/i/dogPic/french-bulldog.jpg",
            "Pug": "/i/dogPic/pug.jpg",
            "Boxer": "/i/dogPic/boxer.jpg",
            "Golden Retriever": "/i/dogPic/golden-retriever.jpg",
            "Maltese": "/i/dogPic/maltese.jpg",
            "Yorkshire Terrier": "/i/dogPic/yorkshire-terrier.webp",
            "Shi Tzu": "/i/dogPic/shi-tzu.jpg",
            "Great Dane": "/i/dogPic/great-dane.jpg",
            "Sheltie": "/i/dogPic/sheltie.jpg",
            "Border Collie": "/i/dogPic/border-collie.jpg",
            "Rottweiler": "/i/dogPic/rottweiler.jpg",
            "Labrador": "/i/dogPic/labrador.jpg",
            "Greyhound": "/i/dogPic/greyhound.jpg",
            "Pointer": "/i/dogPic/pointer.jpg",
            "Dachshund": "/i/dogPic/dachshund.jpg",
            "Malinois": "/i/dogPic/malinois.jpg",
            "Mixed": null
        },
        });
  });
</script>
<div class="container">
<div>
    
    <h1>Add Dog: Tell us more about your dog!</h1>
    <div class="row">
    <form autocomplete="off" method="post" enctype="multipart/form-data">
            <div class="row input-field">
                <input autocomplete="false" type="text" name="name" class="validate" id="name">
                <label for="name">Name</label>
            </div>
            <!-- <div class="row input-field">
                <input type="text" name="breed" class="validate" id="breed">
                <label for="breed">Breed</label>
            </div> -->
        
            <div class="row">
                <div class="input-field col s12">
                <input type="text" id="autocomplete-input" class="autocomplete" name="breed" style="margin-left:-11px">
                <label for="autocomplete-input">Breed</label>
                </div>
            </div>
            
            <div class="row">
                <h5>Gender</h5>
                <p>
                    <label>
                        <input type="radio" value="Female" name="gender">
                        <span>Female</span>
                    </label>
                </p>
                 <p>
                    <label>
                        <input type="radio" value="Male" name="gender">
                        <span>Male</span>
                    </label>
                </p>
            </div>
            <div class="row">
                <h5>Age</h5>
                <p>
                    <label>
                        <input type="radio" value="Puppy" name="age">
                        <span>Puppy: Less than 2 years</span>
                    </label>
                </p>
                 <p>
                    <label>
                        <input type="radio" value="Adolescent" name="age">
                        <span>Adolescent: 2-3 years old</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input type="radio" value="Adult" name="age">
                        <span>Adult: 4-9 years old</span>
                    </label>
                </p>
                 <p>
                    <label>            
                        <input type="radio" value="Senior" name="age">
                        <span>Senior: More than 9 years old</span>
                    </label>
                </p>
            </div>
            <div class="row">
                <h5>Size</h5>
                <p>
                    <label>            
                        <input type="radio" value="Toy" name="size">
                        <span>Toy: Up to 12 pounds</span>
                    </label>
                </p>
                <p>
                    <label>            
                        <input type="radio" value="Small" name="size">
                        <span>Small: 12-25 pounds</span>
                    </label>
                </p>
                <p>
                    <label>            
                        <input type="radio" value="Medium" name="size">
                        <span>Medium: 25-50 pounds</span>
                    </label>
                </p>
                <p>
                    <label>            
                        <input type="radio" value="Large" name="size">
                        <span>Large: 50-100 pounds</span>
                    </label>
                </p>
                <p>
                    <label>            
                        <input type="radio" value="Extra Large" name="size">
                        <span>Extra Large: More than 100 pounds</span>
                    </label>
                </p>        
            </div>
            <div class="row">
                <h5>Social</h5>
                <p>
                    <label>            
                        <input type="radio" value="Social" name="social">
                        <span>Social. Will initiate plays</span>
                    </label>
                </p>
                <p>
                    <label>            
                        <input type="radio" value="Shy" name="social">
                        <span>Shy. Will wait until play is initiated</span>
                    </label>
                </p>
            </div>
            <div class="row">
                <h5>Active</h5>
                <p>
                    <label>            
                        <input type="radio" value="Not Active" name="active">
                        <span>Not active. Would play for less than 15 minutes</span>
                    </label>
                </p>
                <p>
                    <label>            
                        <input type="radio" value="A Little Active" name="active">
                        <span>A little active. Would play for 15 minutes</span>
                    </label>
                </p>
                <p>
                    <label>            
                        <input type="radio" value="Active" name="active">
                        <span>Active. Would play for 15-30 minutes</span>
                    </label>
                </p>
                <p>
                    <label>            
                        <input type="radio" value="Very Active" name="active">
                        <span>Very active, never gets bored. Could play for 30-60 minutes</span>
                    </label>
                </p>
            </div>

            <!-- <div class="row">
                <h5>Friendlh</h5>
                <p>
                    <label>            
                        <input type="radio" value="Yes" name="friendly">
                        <span>Yes</span>
                    </label>
                </p>
                <p>
                    <label>            
                        <input type="radio" value="No" name="friendly">
                        <span>No</span>
                    </label>
                </p>
            </div> -->
            <div class="row">
                <h5>Picture</h5>
                <div class="file-field input-field">
                    <div class="btn red">
                        <span>File</span>
                        <input type="file" name="profilePic" accept=".jpg,.jpeg">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
            </div>
            <button type="submit" class="waves-effect waves-light btn-large red">Submit</button>
    </form>
    </div>
</div>
</div>
{% endblock %}
