{% extends "_base.html" %}
{% block content %}

<script>
$(document).ready(function(){
     $('.carousel.carousel-slider').carousel({
    fullWidth: true,
  });
  });
</script>

<div class="carousel carousel-slider" style="height:95%">
    <a class="carousel-item" href="#one!"><img src="/i/dogs_play_selfie.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="/i/Dogs-Fall-in-Love-and-So-Do-Owners-2.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="/i/golden-retriever-royalty-free-image-506756303-1560962726.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="/i/group-of-dogs-different-breeds.jpg.653x0_q80_crop-smart.jpg"></a>
    <a class="carousel-item" href="#one!"><img src="/i/group-of-dogs-white-background.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="/i/happy-dog-owner.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="/i/young-woman-with-two-dogs.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="/i/two-ladies-playing-with-two-dogs.webp"></a>
  </div>

{% endblock %}