{% extends "_base.html" %}
{% block content %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.parallax');
    var instances = M.Parallax.init(elems, {responsiveThreshold:800});
  });
</script>
<div id = "main">
    <div class="parallax-container center valign-wrapper" style="height:600px">
      <!-- <div class="parallax"><img src="https://www.klevermedia.co.uk/html_templates/petcare/images/2.png"></div> -->
      <div class="container">
          <center>
        <div class="row">
        <div class="col s12 white-text">
            <h2 style="font-weight:200;font-size:50px;opacity:0.5" class="light-blue">Find the best match for your furry friend!</h2>
            <i class="material-icons" style="color:rgb(3, 169, 244)">keyboard_arrow_down</i>
        </div>
        </div>
        </center>
    </div>
      <div class="parallax"><img src="/i/dog-rolling-on-grass.jpg" style="width:95%"></div>
    </div>
    <div class="section white">
        <div class="container">
  <div class="row">
     <div class="col m4 s12">
       <div class="icon-block">
         <h2 class="center light-blue-text">
           <i class="material-icons">flash_on</i> 
         </h2>
         <h5 class="center">Energy</h5>
         <p class="light">
           Dogs socialize in a safe and controlled environment with other members
         </p>
       </div> 
     </div>
     <div class="col m4 s12">
       <div class="icon-block">
         <h2 class="center light-blue-text">
           <i class="material-icons">group</i>  
         </h2>
         <h5 class="center">Connections</h5>
         <p class="light">
           Dog owners create connection with other dog owners in their area by establishing dates for them to meet with their dogs.
         </p>
       </div>
       
     </div>
     <div class="col m4 s12">
       <div class="icon-block">
         <h2 class="center light-blue-text">
           <i class="material-icons">settings</i>  
         </h2>
         <h5 class="center">Bond</h5>
         <p class="light">
           Dogs and owners will be able to grow a stronger bond with eachother by spending more time with eachother and other similar 
         </p>
       </div> 
     </div>
   </div>
</div>
    </div>
    <div class="parallax-container" style="height:500px">
      <div class="parallax"><img src="/i/dogs-sitting-together.jpg" style="width:95%"></div>
    </div>
    <div class="section white">
        <div class="container">
            <h4>How it works?</h4>
            <p class="light left-align">Create an account and login. Then, create a profile for you and your dog. Answer the questionaire and you're done! Potential matches for your dog will appear with the percentage of compatability!</p>
        </div>
    </div>
</div>
</div>
{% endblock %}
