{% extends "_base.html" %}
{% block content %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.parallax');
    var instances = M.Parallax.init(elems, options);
  });
</script>
<div id = "main">
    <div class="parallax-container">
      <div class="parallax"><div style="background-color:rgb(160, 220, 1);height:500px;width:100%"></div>
    </div>
    <div class="section white">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis laoreet convallis ligula eu finibus. Quisque vestibulum, lacus quis blandit congue, risus mauris laoreet erat, sit amet viverra enim ex a purus. Duis convallis vulputate nulla non pulvinar. Suspendisse eu mauris et odio facilisis vestibulum vel vel ligula. Morbi fermentum lorem nec ipsum aliquam consectetur. Maecenas pellentesque diam ac tristique vestibulum. Aenean nec gravida lectus. Etiam vehicula urna velit, ut rhoncus mauris aliquet et.

        In vitae rhoncus nisi. Cras eget maximus arcu. Mauris varius quam nunc, in tristique orci tincidunt non. Phasellus sem nunc, cursus ac nunc in, maximus egestas massa. Sed sit amet urna ornare, porttitor mi sit amet, semper neque. In blandit ac sem non elementum. Aliquam pulvinar, tortor posuere tincidunt cursus, tortor quam maximus tellus, ac commodo mi nisi sit amet orci. Fusce tristique vehicula hendrerit. Nunc tincidunt eget nisi eget sagittis. Sed tempor molestie lectus, laoreet suscipit sem molestie a. Nunc vitae congue eros. Pellentesque erat odio, lacinia vitae vestibulum eu, accumsan ut erat. Praesent imperdiet laoreet felis at scelerisque. Morbi id hendrerit elit. Sed lorem lectus, eleifend fringilla turpis at, malesuada gravida orci. Pellentesque fringilla sapien in blandit sagittis.

        Duis porttitor pulvinar massa maximus commodo. Pellentesque bibendum porttitor lacus et accumsan. Maecenas id lobortis nibh. Vestibulum bibendum eros risus, in elementum justo volutpat vitae. Vestibulum sagittis nulla eget purus varius, non pretium odio condimentum. Nullam pulvinar orci non pellentesque fermentum. Fusce vitae turpis sed ipsum scelerisque pretium. Maecenas placerat lacinia consectetur. Ut euismod tellus eget varius hendrerit. Nullam tristique ipsum a vulputate vulputate. Suspendisse fringilla est in felis venenatis rhoncus. Nam sed sem nunc. Fusce ultrices libero at placerat porta.
    </div>
</div>
</div>
{% endblock %}
