{% extends "_base.html" %}
{% block content %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.parallax');
    var instances = M.Parallax.init(elems, {});
  });
</script>
<div id = "main">
    <div class="parallax-container">
      <div class="parallax"><img src="https://www.klevermedia.co.uk/html_templates/petcare/images/2.png"></div>
    </div>
    <div class="section white">
        <h2 class="header">Testing</h2>
        <p> There si an exmaple There si an exmaple There si an exmaple There si an exmaple There si an exmapleThere si an exmapleThere si an exmapleThere si an exmapleThere si an exmapleThere si an exmapleThere si an exmapleThere si an exmapleThere si an exmapleThere si an exmapleThere si an exmapleThere si an exmapleThere si an exmapleThere si an exmapleThere si an exmaple</p>
    </div>
</div>
</div>
{% endblock %}
