{% extends "_base.html" %}
{% block content %}
<script>
    document.addEventListener('DOMContentLoaded', function() {       
        window.setTimeout(() => {
            var btn = document.getElementById("addDogBtn")
            btn.classList.add("scale-in")
        }, 500)
        
    });
</script>
<div class="container">
<div class="fixed-action-btn">
  <a class="btn-floating btn-large red waves-effect waves-light scale-transition scale-out" href="/add-dog" id="addDogBtn">
    <i class="large material-icons">add</i>
  </a>
</div>
<div style="padding-top:75px"></div>
<div>
    <div class="col s12 m7">
    <div class="card horizontal">
      <div class="card-image">
        <img src="/img?img_id={{keyUrl}}&type=User">
      </div>
      <div class="card-stacked">
        <div class="card-content">
            <h3>{{name}}</h3>
            <h5>{{city}}, {{state}}</h5>
            <h4>{{age}} years old</h4>
            <h4>{{sex}}</h4>
        </div>
        <!-- <div class="card-action">
          <a href="#">This is a link</a>
        </div> -->
      </div>
    </div>
  </div>
    <!-- <h2>{{name}}</h2>
    <h4>{{city}}, {{state}}</h4> -->
    <br>
    <h3>My Dogs</h3>
    {% if dogs %}
        <div>
        {% for dog in dogs %}
        <!-- <div>
            <div>
            Name: {{dog.name}}<br>
            Breed: {{dog.breed}}<br>
            Gender: {{dog.gender}}<br>
            </div>
            <br>
            <a href  = "/view-dog/{{dog.keyUrl}}">
            <img src="/img?img_id={{dog.keyUrl}}" href="/view-dog/{{dog.keyUrl}}"/>
            </a>
        </div> -->
        <div class="row">
            <div class="col s12 m7">
            <div class="card" onclick="window.location.pathname = '/view-dog/{{dog.keyUrl}}'">
                <div class="card-image">
                <img src="/img?img_id={{dog.keyUrl}}&type=Dog">
                <span class="card-title">{{dog.name}}</span>
                </div>
                <div class="card-content">
                <p>{{dog.breed}}, {{dog.gender}}</p>
                </div>
            </div>
            </div>
        </div>
        {% endfor %}
        </div>
        <br><br>
    {% else %}
    <br>
    <br>
    <center>
    <img src="/i/nodata.svg" style="width:100px">
    <h5 style="font-weight:300;color:#C9C9C9">No dogs</h5>
    <center>
    {% endif %}
</div>
</div>
{% endblock %}
