{% extends "_base.html" %}
{% block content %}

<div>
    <h1>{{name}}</h1>
    <h2>{{breed}}, {{gender}}</h2>
    <img src="/img?img_id={{keyUrl}}"/>
    <ul>
        <li>Age: {{age}}</li>
        <li>Size: {{size}}</li>
        <li>Social: {{social}}</li>
        <li>Active: {{active}}</li>
        <li>Friendly: {{friendly}}</li>
    </ul>
    <h2>Potential Matches</h2>
    {% for dog in matchedDogs %}
    <div>
        Name: {{dog.name}}<br>
        Breed: {{dog.breed}}<br>
        Gender: {{dog.gender}}<br>
        Score: <h3>{{dog.score}}%</h3>
    </div>
    <img src="/img?img_id={{keyUrl}}"/>
    </div>
    {% endfor %}

</div>

{%endblock %}

