{% extends "_base.html" %}
{% block content %}
<div class="container">
<div style="margin-bottom:20px">
    <h1>{{name}}</h1>
    <h2>{{breed}}, {{gender}}</h2>
    <img src="/img?img_id={{keyUrl}}"/>
    <ul>
        <li>Age: {{age}}</li>
        <li>Size: {{size}}</li>
        <li>Social: {{social}}</li>
        <li>Active: {{active}}</li>
        <li>Friendly: {{friendly}}</li>
    </ul>
    <h2>Potential Matches</h2>
    {% for dog in matchedDogs %}
    <div class="row">
            <div class="col s12 m7">
            <div class="card" onclick="window.location.pathname = '/view-dog/{{dog.keyUrl}}'">
                <div class="card-image">
                <!-- <img src="/img?img_id={{dog.keyUrl}}"> -->
                <img src="/img?img_id=aghkZXZ-Tm9uZXIQCxIDRG9nGICAgICAwLQIDA&type=Dog">
                <span class="card-title">{{dog.name}}</span>
                </div>
                <div class="card-content">
                <span>{{dog.breed}}, {{dog.gender}}</span>
                <h3 style="text-align:right">{{dog.score}}%</h3>
                </div>
            </div>
            </div>
        </div>
    <!-- <div>
        <div>
            Name: {{dog.name}}<br>
            Breed: {{dog.breed}}<br>
            Gender: {{dog.gender}}<br>
            Score: <h3>{{dog.score}}%</h3>
        </div>
    <img src="/img?img_id={{keyUrl}}"/>
    </div> -->
    {% endfor %}
    <ul class="pagination">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active"><a href="#!">1</a></li>
        <li class="waves-effect"><a href="#!">2</a></li>
        <li class="waves-effect"><a href="#!">3</a></li>
        <li class="waves-effect"><a href="#!">4</a></li>
        <li class="waves-effect"><a href="#!">5</a></li>
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    </ul>
</div>
</div>
{%endblock %}

