{% extends "_base.html" %}
{% block content %}
<script type="text/javascript">
var numberOfPages = parseInt({{amountOfDogs}})
$(document).ready( function(){
    if(numberOfPages == 1){
    $('#pag').materializePagination({
    align: 'center',
    lastPage:  numberOfPages,
    firstPage:  1,
    urlParameter: 'page',
    useUrlParameter: true,
    onClickCallback: function(requestedPage){
            window.location = window.location.pathname + "?page=" + requestedPage
        }
    });
    }
})



</script>
<div class="container">
   <h4 style="font-weight:500">{{name}}</h4>
   <h4 style="font-weight:300">A {{age}}, {{size}} {{breed}}</h4>
   <img src="/img?img_id={{keyUrl}}&type=Dog" style="position: absolute;right: 300;border-radius: 50%;width: 150px;height: 150px;top: 90;">
   <div style="margin-bottom:20px">
      <!-- <h1>{{name}}</h1>
         <h2>{{breed}}, {{gender}}</h2>
         <img src="/img?img_id={{keyUrl}}"/>
         <ul>
             <li>Age: {{age}}</li>
             <li>Size: {{size}}</li>
             <li>Social: {{social}}</li>
             <li>Active: {{active}}</li>
             <li>Friendly: {{friendly}}</li>
         </ul> -->
      <div style="padding-top:50px"></div>
      <h2 style="color:red">Paw-fect Matches</h2>
      <div style="padding-top:25px"></div>
      <div class="row">
         {% for dog in matchedDogs %}
         <div class="col s12 m4" style="margin-bottom:50px">
            <div class="flip-container" onclick="this.classList.toggle('hover');">
               <div class="flipper">
                  <div class="front">
                     <div class="card medium z-depth-3">
                        <div class="card-image">
                           <!-- <img src="/img?img_id={{dog.keyUrl}}"> -->
                           <img src="/img?img_id={{dog.keyUrl}}">
                           <span class="card-title">{{dog.name}}</span>
                        </div>
                        <div class="card-content" style="height:100%;position:relative">
                           <h5>{{dog.breed}}, {{dog.gender}}</h5>
                           <h3 style="text-align:right;color:{% if dog.score >= 60 %}green{% else %}red{% endif %};position:absolute;bottom:0;right:20px;">{{dog.score}}%</h3>
                        </div>
                     </div>
                  </div>
                  <!-- onclick="window.location.pathname = '/view-dog/{{dog.keyUrl}}'" -->
                  <div class="back">
                      <div class="z-depth-3" style="border-radius:5px;width:100%;height:100%;padding:25px;">
                            <div style="display:flex;justify-content:space-evenly;align-items:center;">
                                <img src="/img?img_id={{dog.profile.keyUrl}}&type=User" style="border-radius:50%;width:45px;height:45px">
                                <div>
                                    <h4 style="font-size:25px;font-weight:500;margin-top:1px">{{dog.profile.name}}</h4>
                                    <h6 style="font-weight: 300;margin-top:-10px;font-size:15px">{{dog.ownerEmail}}</h6>
                                </div>
                            </div>
                            <div style="padding-top: 10px"></div>
                            <div class="divider"></div>
                            <div style="padding-top:10px"></div>
                            <div>
                                <h5> <b>Age:</b> {{age}} </h5>
                                <h5><b>Size:</b> {{size}}</h5>
                                <h5><b>Social Level:</b> {{social}}</h5>
                                <h5><b>Activity Level:</b> {{active}}</h5>
                            </div>
                        </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- </div> -->
         {% endfor %}
      </div>
      <div id="pag"></div>
    </div>
    {%endblock %}

